/*

-------------------------------- Contents --------------------------------------

1. General
2. Index.html

*/

/*

-------------------------------- General ---------------------------------------

*/

* {
  box-sizing: border-box;
}

/*

-------------------------------- Index.html ------------------------------------

*/

.logo {
  max-height: 50px;
}

#BioPic {
  max-width: 100vw;
}
